.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  transition-property: transform, box-shadow, background-color;
  transition-duration: .25s;
  transition-timing-function: ease;
  z-index: 9001;
  will-change: transform;

  &.scrolled {
    background-color: var(--header-bg);
    box-shadow: $shadow-0;
  }

  &.hidden {
    transform: translateY(-100%);
    box-shadow: unset;
  }

  &-nav {
    grid-column: 2 / -2;
    display: flex;
    justify-content: space-between;
    padding: rem(20) 0;

    @include tablet-l {
      .header:not(.scrolled) & {
        justify-content: center;
      }
    }

    @include desktop {
      grid-column: 1 / -1;
    }
  }

  &-nav > &-nav__link:first-child {
    @include tablet-l {
      .header:not(.scrolled) & {
        display: none;
      }
    }
  }

  &-nav > &-nav__link:last-child {
    @include tablet-l {
      .header:not(.scrolled) & {
        display: none;
      }
    }
  }

  &-nav__link {
    position: relative;
    text-decoration: none;
    text-transform: lowercase;
    line-height: 1.25;
    font-family: $me;
    font-weight: 300;
    color: var(--header-text);
    letter-spacing: rem(.48);

    @include tablet-p {
      font-size: rem(18);
    }
  }

  &-nav__link.active::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    width: rem(10);
    height: rem(10);
    transform: translateY(-50%);
    margin-left: rem(-20);
    background: $persimmon;

    @include triangle;

    @include tablet-p {
      width: rem(15);
      height: rem(15);
      margin-left: rem(-25);

      @include diamond;
    }

    @include tablet-l {
      @include pentagon;
    }

    @include desktop {
      @include polygon;
    }
  }

  &-nav__link--center {
    font-weight: 600;
    text-transform: uppercase;
  }
}
