.header {
  position: sticky;
  top: 0;
  left: 0;
  transition-property: transform, box-shadow, background-color;
  transition-duration: .25s;
  transition-timing-function: ease;
  z-index: 100;
  will-change: transform;

  &.scrolled {
    background-color: $white;
    box-shadow: $shadow-0;
  }

  &.hidden {
    transform: translateY(-100%);
    box-shadow: unset;
  }

  &-nav {
    grid-column: 2 / -2;
    display: flex;
    justify-content: space-between;
    padding: rem(20) 0;
  }

  &-nav__link {
    position: relative;
    text-decoration: none;
    text-transform: lowercase;
    line-height: 1.25;
    font-family: $me;
    font-weight: 300;
    color: $gray;
    letter-spacing: rem(.48);

    @include desktop {
      &:hover {
        color: $persimmon;
      }
    }
  }

  &-nav__link.active::before {
    content: '';
    position: absolute;
    top: 50%;
    width: rem(10);
    height: rem(10);
    transform: translateY(-50%) translateX(-200%); // a tiny space between text and this element
    background: url('/icons/arrow-down.svg');
  }

  &-nav__link--center {
    font-weight: 600;
    text-transform: uppercase;
  }
}
