.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__text {
    font-size: rem(16);
    line-height: 1.63;
    letter-spacing: rem(.48);
    font-weight: 600;
    text-transform: lowercase;
    color: var(--fancy-text);
  }

  & > &__text {
    margin-bottom: rem(10);
  }
}
