.posts {
  @include tablet-p {
    width: set-width(8, 10);
  }

  @include tablet-l {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: rem(60);
    width: 100%;
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(50);
  }

  &__link {
    display: block;
    text-decoration: none;

    @include tablet-l {
      width: set-width(4, 5);
    }

    @include desktop {
      width: 100%;
      grid-column: auto / span 1;
    }
  }

  & > &__link:not(:last-child) {
    margin-bottom: rem(30);

    @include tablet-l {
      margin-bottom: 0;
    }
  }
}
