{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"]
        }
      }
    ]
  ],
  "plugins": [
    "macros",
    [
      "module-resolver",
      {
        "root": ["./"],
      }
    ]
  ]
}
