.card {
  display: grid;
  grid-template-columns: set-width(7, 8) 1fr;

  &__img-container {
    @include aspect-ratio(263, 243);
    background: $mercury;
  }

  &__img {
    width: 100%;
  }

  &__title {
    align-self: start;
    width: 10em;
    font-size: rem(24);
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    transform-origin: bottom left;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(-100%) rotate(90deg);
  }
}
