.input {
  width: 100%;
  font-size: rem(16);
  font-weight: 600;
  letter-spacing: rem(.48);
  padding: rem(13) rem(14);
  border: none;
  color: var(--form-text);
  background-color: var(--form-bg);
  box-shadow: 0 0 0 rem(1) $silver;

  &::placeholder {
    color: $gray;
  }
}
