.theme-picker {
  position: fixed;
  bottom: rem(50);
  right: rem(20);
  z-index: 9000;

  &.left {
    left: rem(20);
    right: unset;
  }

  & > div {
    display: flex;

    @include center-content;
  }

  svg {
    width: rem(40);
    height: rem(40);
  }
}
