.theme-picker {
  position: fixed;
  display: flex;
  bottom: rem(50);
  right: rem(20);
  z-index: 9000;
  background-color: rgba($persimmon, .7);
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  opacity: 1;
  transition: opacity .15s ease;

  @include center-content;

  &.left {
    left: rem(20);
    right: unset;
  }

  &.hide {
    opacity: 0;
  }

  & > div {
    display: flex;

    @include center-content;
  }

  svg {
    width: rem(20);
    height: rem(20);
  }
}
