.button {
  width: 100%;
  padding: rem(13);
  font-size: rem(16);
  font-weight: 600;
  letter-spacing: rem(.48);
  border: none;
  color: var(--button);
  background-color: $persimmon;

  &--active {
    background-color: var(--button);
    color: $persimmon;
    box-shadow: 0 0 0 rem(1) $persimmon;
  }
}
