.recent-posts {
  margin-top: rem(90);
  color: $persimmon;

  .heading {
    grid-column: 2 / -2;
    margin-bottom: rem(30);
  }

  .recent-posts__item {
    grid-column: 2 / -2;
    text-decoration: none;
  }

  .grid > .recent-posts__item:not(:last-child) {
    margin-bottom: rem(60);
  }
}
