.ul {
  margin-bottom: rem(20);
  padding-left: 1em;
  font-size: rem(18);

  @include md-width;

  @include desktop {
    font-size: rem(24);
  }

  & p,
  & pre {
    @include AGaramondPro;
    max-width: unset;
  }

  & ul,
  & ol {
    margin-left: unset;
  }
}
