.subscribe {
  margin-top: rem(60);

  @include tablet-l {
    margin-top: rem(90);
    margin-bottom: rem(150);
  }

  &-group {
    display: grid;
    grid-template-columns: set-width(5, 8) set-width(3, 8);
    max-width: rem(609.83);

    @include tablet-p {
      grid-template-columns: set-width(6, 8) set-width(2, 8);
    }

    @include tablet-l {
      display: flex;
      justify-content: center;
      width: 82.89608433734938%;
      justify-self: center;
    }
  }

  &__button {
    position: relative;
    width: 93.3333333333%;
    margin-left: auto;

    @include tablet-l {
      width: 30.95761495558020%;
      margin: unset;
    }
  }

  &__input {
    position: relative;
    width: 98.6666666667%;
    margin-right: auto;

    @include tablet-l {
      width: 62.0969060552659%;
    }
  }

  .grid > &-group {
    grid-column: 2 / -2;

    @include tablet-p {
      grid-column: 2 / -5;
    }

    @include tablet-l {
      grid-column: 3 / -3;
    }
  }
}
