.subscribe {
  margin-top: rem(60);

  &-group {
    display: grid;
    grid-template-columns: set-width(5, 8) set-width(3, 8);
  }

  &__button {
    position: relative;
    width: 93.3333333333%;
    margin-left: auto;
  }

  &__input {
    position: relative;
    width: 98.6666666667%;
    margin-right: auto;
  }

  .grid > &-group {
    grid-column: 2 / -2;
  }
}
