.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include desktop {
    &:hover &__title {
      color: var(--text);
      text-decoration: underline;
    }
  }

  &__title {
    font-weight: 600;
    letter-spacing: rem(.48);
    color: $persimmon;

    @include tablet-p {
      font-size: rem(20);
      line-height: rem(24);
    }

    @include desktop {
      transition: color .15s ease;
    }
  }

  & > &__title {
    margin-bottom: rem(10);

    @include tablet-p {
      margin-bottom: rem(15);
    }
  }

  &__excerpt {
    line-height: 1.34;
    letter-spacing: rem(.48);
    font-weight: 600;
    color: var(--text);

    @include tablet-p {
      font-size: rem(18);
    }
  }

  & > &__excerpt {
    margin-bottom: rem(20);

    @include tablet-p {
      margin-bottom: rem(30);
    }
  }

  &__date {
    font-size: rem(14);
    font-weight: 300;
    line-height: 1.34;
    letter-spacing: rem(.48);
    color: var(--text);

    @include tablet-p {
      font-size: rem(18);
    }
  }
}
