.go-back {
  color: var(--text);
  font-size: rem(16);
  font-weight: bold;
  border: none;
  background: none;
  padding-bottom: rem(5);
  border-bottom: rem(3) solid $persimmon;
  cursor: pointer;
  transition: color, border-color;
  transition-timing-function: ease;
  transition-duration: .15s;

  &:hover {
    color: $persimmon;
    border-color: var(--text);
  }
}
