.text-3D {
  --color: var(--fancy-text); // without expression the value would be literal
  --transition: .25s ease;

  position: relative;
  text-transform: uppercase;
  letter-spacing: rem(2.28);
  color: var(--color);
  z-index: 99;
  transition: var(--transition);

  @include hover {
    color: $persimmon;
  }

  &::after {
    content: attr(title);
    position: absolute;
    top: 3 / 111 * 100%;
    right: 3 / 254.344 * 100%;
    color: transparent;
    -webkit-text-stroke: rem(1) var(--color);
    -moz-text-stroke: rem(1) var(--color);
    -o-text-stroke: rem(1) var(--color);
    z-index: -1;

    @include desktop {
      top: 0;
      right: 0;
      transition: var(--transition);
      transition-property: top, right, text-stroke-color;
    }
  }

  @include desktop {
    &:hover::after {
      top: 3 / 111 * 100%;
      right: 3 / 254.344 * 100%;
      -webkit-text-stroke-color: $persimmon;
      -moz-text-stroke-color: $persimmon;
      -o-text-stroke-color: $persimmon;
    }
  }
}
