.hero {
  margin-top: rem(40);

  &__bg {
    grid-column: 2 / -3;
    grid-row: 1 / 1; // makes overlapping
    width: 250 / 262.5 * 100%;
    height: auto;
  }

  &__title {
    grid-column: 4 / -2;
    grid-row: 1 / 1; // makes overlapping
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: right;
    text-decoration: none;
  }
}
