.post {
  margin-top: rem(60);

  &__image-container {
    margin-bottom: rem(40);

    @include aspect-ratio(300, 128);

    @include tablet-p {
      margin-bottom: rem(60);

      @include aspect-ratio(640, 308);
    }

    @include tablet-l {
      margin-bottom: rem(100);

      @include aspect-ratio(996, 400);
    }

    @include desktop {
      @include aspect-ratio(16, 9);
    }
  }

  &__image {
    width: 100%;
  }

  .grid > &__image-container {
    grid-column: 2 / -2;

    @include tablet-l {
      grid-column: 1 / -1;
    }
  }

  &__title {
    font-family: $agp;
    font-weight: 600;
    font-size: rem(24);
    letter-spacing: rem(.54);
    text-transform: uppercase;
    color: var(--fancy-text);

    @include tablet-p {
      text-align: center;
      font-size: rem(28);
      line-height: 1;
    }

    @include tablet-l {
      font-size: rem(36);
      letter-spacing: rem(1.08);
    }
  }

  .grid > &__title {
    grid-column: 2 / -2;
    margin-bottom: rem(20);

    @include tablet-l {
      margin-bottom: rem(30);
    }
  }

  .grid > .md {
    grid-column: 2 / -2;
    margin-bottom: rem(30);

    @include tablet-p {
      grid-column: 3 / -3;
    }

    @include tablet-l {
      grid-column: 4 / -4;
    }

    @include desktop {
      grid-column: 6 / -6;
    }
  }

  &__date {
    font-size: rem(14);
    font-weight: 300;
    line-height: 1.34;
    letter-spacing: rem(.42);
    text-align: right;
    color: var(--text);

    @include tablet-l {
      font-size: rem(16);
    }
  }

  .grid > &__date {
    grid-column: 2 / -2;
    margin-bottom: rem(60);

    @include tablet-p {
      grid-column: 3 / -3;
      margin-bottom: rem(100);
    }

    @include tablet-l {
      grid-column: 4 / -4;
    }

    @include desktop {
      grid-column: 6 / -6;
    }
  }

  .grid > .xdivider {
    grid-column: 2 / -2;

    @include desktop {
      grid-column: 6 / -6;
    }
  }

  .grid > &-comment {
    grid-column: 2 / -2;
    margin: rem(60) 0;

    @include tablet-p {
      grid-column: 4 / -4;
      margin: rem(100) 0;
    }

    @include desktop {
      grid-column: 6 / -6;
    }
  }

  .grid > &-comment-list {
    grid-column: 2 / -2;
    margin-top: rem(60);

    @include tablet-p {
      grid-column: 3 / -3;
      margin-top: rem(100);
    }

    @include tablet-l {
      grid-column: 4 / -4;
    }

    @include desktop {
      grid-column: 6 / -6;
    }
  }
}
