.works {
  &-hero {
    display: grid;
    grid-template-columns: 35% 23.3333333333% 35%;
    background: url('/images/works.svg');
    background-repeat: no-repeat;
    background-position: center right;
    height: rem(165);
    margin-bottom: rem(20);

    @include center-content;

    @include tablet-p {
      grid-template-columns: 1fr 1fr;
      background: none;
      height: auto;
      margin: rem(60) 0;
    }

    @include tablet-l {
      margin-top: rem(60);
      margin-bottom: rem(90);
    }
  }

  &-hero .button--active {
    @include tablet-p {
      box-shadow: unset;
    }
  }

  &-hero > .button {
    @include tablet-l {
      height: rem(55);
    }
  }

  .grid > &-hero {
    grid-column: 2 / -2;

    @include tablet-p {
      grid-column: 3 / -3;
    }

    @include desktop {
      grid-column: 6 / -6;
    }
  }

  &-hero__btn {
    box-shadow: 0 0 0 rem(1) var(--button);

    @include tablet-p {
      box-shadow: unset;
    }
  }

  &__divider {
    display: flex;
    flex-direction: column;

    @include center-content;

    @include tablet-p {
      display: none;
    }
  }

  &__divider::before,
  &__divider::after {
    content: '';
    display: block;
    height: rem(30);
    width: rem(1);
    background-image: url('/icons/dashed.svg');
  }

  &__divider::before {
    margin-bottom: rem(10);
  }

  &__divider::after {
    margin-top: rem(10);
  }

  &__divider-icon {
    transform: rotate(90deg);
  }

  .grid > &-content {
    grid-column: 2 / -2;

    @include desktop {
      grid-column: 1 / -1;
    }
  }

  &__show-more {
    margin-top: rem(40);
  }
}
