.markdown {
  &-hero {
    margin-top: rem(40);
  }

  &-hero__img {
    width: 100%;
    height: auto;
  }

  &-header {
    margin: rem(50) auto rem(150);

    @include md-width;
  }

  &__title {
    font-size: rem(34);
    line-height: 1em;
  }

  &__date {
    font-family: $me;
  }

  &-header > .go-back {
    margin-bottom: rem(60);
  }

  &-header > &__title {
    margin-bottom: rem(20);
  }

  &-content {
    em, b, strong {
      @include AGaramondPro('Bold');
    }

    i {
      @include AGaramondPro('Italic');
    }

    p, a, li {
      @include AGaramondPro;
    }
  }

  a {
    color: $persimmon;
    text-decoration: none;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: rem(60);

    @include md-width;
  }
}
