.post-comment {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: rem(18);
    line-height: 1.64;
    letter-spacing: rem(.54);
    text-transform: uppercase;
    color: $persimmon;
  }

  & > &__title {
    margin-bottom: rem(20);
  }

  & > &__name {
    margin-bottom: rem(20);
  }

  & > &__message {
    margin-bottom: rem(30);
  }

  & > .button {
    width: set-width(4, 8);
    align-self: flex-end;
  }

  .button:disabled {
    background-color: var(--disabled-bg);
    color: var(--disabled-text);
    transition-property: background-color, color;
    transition-duration: .15s;
  }
}
