.post-comment {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: rem(18);
    line-height: 1.64;
    letter-spacing: rem(.54);
    text-transform: uppercase;
    color: $persimmon;

    @include tablet-p {
      font-size: rem(22);
    }

    @include tablet-l {
      font-size: rem(24);
    }
  }

  & > &__title {
    margin-bottom: rem(20);

    @include tablet-p {
      margin-bottom: rem(40);
    }
  }

  & > &__name {
    margin-bottom: rem(20);

    @include tablet-p {
      margin-bottom: rem(30);
    }
  }

  & > &__message {
    margin-bottom: rem(30);

    @include tablet-p {
      margin-bottom: rem(40);
    }
  }

  & > .button {
    width: set-width(4, 8);
    align-self: flex-end;

    @include tablet-l {
      width: set-width(2, 6);
    }
  }

  .button:disabled {
    background-color: var(--disabled-bg);
    color: var(--disabled-text);
    transition-property: background-color, color;
    transition-duration: .15s;
  }
}
