// GLOBAL MIXINS
@mixin md-width {
  max-width: set-width(8, 10);
  margin-left: auto;
  margin-right: auto;

  @include tablet-p {
    max-width: set-width(8, 12);
  }

  @include tablet-l {
    max-width: set-width(498, 1024);
  }

  @include desktop {
    max-width: rem(600);
  }
}

@mixin overlap-width {
  width: 100%;
  max-width: unset;

  @include tablet-p {
    width: set-width(10, 12);
    margin: 0 auto;
  }

  @include desktop {
    width: set-width(12, 20);
  }
}

// states
.active {
  color: $persimmon !important;
}
