.post-comment-list {
  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
  }

  & > &__item:not(:last-child) {
    margin-bottom: rem(40);
  }

  &__content {
    color: $mine-shaft;
    margin-bottom: rem(10);
  }

  &__name {
    display: flex;
    align-items: center;
    color: $gray;
    text-transform: lowercase;
    align-self: flex-end;
  }

  &__name::before {
    content: '';
    display: inline-block;
    height: rem(1);
    width: ((30 / 375) * 100vw);
    margin-right: rem(10);
    background-color: $gray;
  }

  &__content,
  &__name {
    font-size : rem(16);
    font-weight: 600;
    line-height: 1.63;
    letter-spacing: rem(.48);
  }
}
