.textarea {
  width: 100%;
  min-height: rem(100);
  padding: rem(13) rem(14);
  color: var(--form-text);
  background-color: var(--form-bg);
  font-family: $me;
  font-size: rem(16);
  font-weight: 600;
  letter-spacing: rem(.48);
  box-shadow: 0 0 0 rem(1) $silver;
  border: none;
  resize: vertical;

  @include tablet-l {
    min-height: rem(150);
  }
}
