$font-root-size: 10;
$me: 'Modern Era', sans-serif;
$ag-pro: 'AGaramondPro-Regular', serif;

// AGaramond Pro
@font-face {
  font-family: 'AGaramondPro-SemiboldItalic';
  src: url('/fonts/AGaramondPro-SemiboldItalic.otf');
}

@font-face {
  font-family: 'AGaramondPro-BoldItalic';
  src: url('/fonts/AGaramondPro-BoldItalic.otf');
}

@font-face {
  font-family: 'AGaramondPro-Semibold';
  src: url('/fonts/AGaramondPro-Semibold.otf');
}

@font-face {
  font-family: 'AGaramondPro-Bold';
  src: url('/fonts/AGaramondPro-Bold.otf');
}

@font-face {
  font-family: 'AGaramondPro-Italic';
  src: url('/fonts/AGaramondPro-Italic.otf');
}

@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url('/fonts/AGaramondPro-Regular.otf');
}


// Modern Era
@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/Modern_Era_Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/ModernEra-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/ModernEra-Italic.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/Modern_Era_Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/Modern_Era_Bold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/ModernEra-Black.otf');
  font-weight: 700;
}
