// GLOBAL MIXINS
@mixin md-width {
  max-width: set-width(8, 10);
  margin-left: auto;
  margin-right: auto;

  @include tablet-p {
    max-width: set-width(8, 12);
  }

  @include tablet-l {
    max-width: set-width(498, 1024);
  }

  @include desktop {
    max-width: rem(600);
  }
}
