// palette
$persimmon: #ff5555;

// dark
$black: #000;
$coal: #222222;
$mine-shaft: #333333;

// gray
$gray: #838383;
$cod-gray: #1E1E1E;
$cod-gray-darker: #121212;
$silver: #c4c4c4;

// light
$white: #fff;
$whitesmoke: #F5F5F5;
$mercury: #E5E5E5;

@mixin light {
  // default theme
  // -------- GLOBALS
  --bg: #{$whitesmoke};
  --text: #{$mine-shaft};
  --long-text: #{$mine-shaft};
  --fancy-text: #{$mine-shaft};

  // -------- FORMS
  --form-bg: #{$white};
  --form-placeholder: #{$gray};
  --form-text: #{$mine-shaft};

  // -------- BUTTONS
  --button: #{$white};

  // -------- LAYOUTS
  --header-bg: #{$white};
  --header-text: #{$mine-shaft};
  --footer-bg: #{$mercury};
  --footer-text: #{$white};

  // -------- IMAGES
  --img-lazy-bg: #{$mercury};

  // -------- STATES
  --disabled-bg: #{$mercury};
  --disabled-text: #{$silver};
}

@mixin dark {
  // -------- GLOBALS
  --bg: #{$coal};
  --text: #{$mercury};
  --long-text: #{$mercury};
  --fancy-text: #{$mercury};

  // -------- FORMS
  --form-bg: #{$black};
  --form-placeholder: #{$gray};
  --form-text: #{$mercury};

  // -------- BUTTONS
  --button: #{$black};

  // -------- LAYOUTS
  --header-bg: #{$black};
  --header-text: #{$mercury};
  --footer-bg: #{$cod-gray};
  --footer-text: #{$black};

  // -------- IMAGES
  --img-lazy-bg: #{$cod-gray-darker};

  // -------- STATES
  --disabled-bg: #{$cod-gray-darker};
  --disabled-text: #{$gray};
}


body {
  @include light;
}

body.dark {
  @include dark;
}
