.heading {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: rem(10);
  font-weight: 600;
  font-size: rem(16);
  letter-spacing: rem(3.2);
  text-transform: uppercase;
  white-space: nowrap;
  color: $persimmon;

  @include tablet-p {
    font-size: rem(22);
    letter-spacing: rem(4.4);
  }

  @include tablet-l {
    font-size: rem(34);
  }

  @include desktop {
    font-size: rem(44);
    grid-column-gap: rem(20);
  }


  &::after {
    content: '';
    display: inline-block;
    align-self: center;
    width: 100%;
    height: rem(1);
    background-color: $persimmon;

    @include tablet-l {
      max-width: rem(150);
    }

    @include desktop {
      height: rem(2);
    }
  }
}
